In [1]:
import configparser
from datetime import datetime
import os
from pyspark.sql import SparkSession, functions as F
from pyspark.sql.functions import udf, col
from pyspark.sql.functions import year, month, dayofmonth, hour, weekofyear, date_format

In [2]:
config = configparser.ConfigParser()
config.read('dl.cfg')

os.environ['AWS_ACCESS_KEY_ID']=config['AWS']['AWS_ACCESS_KEY_ID']
os.environ['AWS_SECRET_ACCESS_KEY']=config['AWS']['AWS_SECRET_ACCESS_KEY']

print("**"+config['FILES']['SONG_DATA_PATH']+"**")
print("**"+config['AWS']['AWS_ACCESS_KEY_ID']+"**")

log_path = config['FILES']['LOG_DATA_PATH']
print(log_path)

**"s3://udacity-spark-project/song-data/A/A/A/TRAAAAK128F9318786.json"**
**AKIAY4Z2D55M235INTU6**
"s3a://udacity-dend/log_data/2018/11/2018-11-19-events.json"

In [3]:
spark = SparkSession \
        .builder \
        .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.7.0") \
        .config("spark.hadoop.fs.s3a.impl","org.apache.hadoop.fs.s3a.S3AFileSystem") \
        .config("spark.hadoop.fs.s3a.awsAccessKeyId", os.environ['AWS_ACCESS_KEY_ID']) \
        .config("spark.hadoop.fs.s3a.awsSecretAccessKey", os.environ['AWS_SECRET_ACCESS_KEY']) \
        .getOrCreate()

In [ ]:
#df1 = spark.read.json("s3a://udacity-dend/song-data/*/*/*/*.json")
#df1.show(5)

In [5]:
df_staging_songs = spark.read.json("s3a://udacity-dend/song-data/A/A/A/TRAAAAK128F9318786.json")
df_staging_songs = df_staging_songs.withColumnRenamed("year","song_year")
print('Staging_Songs Count --> ', df_staging_songs.count())
df_staging_songs.show(5)

Staging_Songs Count -->  1
+------------------+---------------+---------------+----------------+------------+--------+---------+------------------+------+---------+
|         artist_id|artist_latitude|artist_location|artist_longitude| artist_name|duration|num_songs|           song_id| title|song_year|
+------------------+---------------+---------------+----------------+------------+--------+---------+------------------+------+---------+
|ARJNIUY12298900C91|           null|               |            null|Adelitas Way|213.9424|        1|SOBLFFE12AF72AA5BA|Scream|     2009|
+------------------+---------------+---------------+----------------+------------+--------+---------+------------------+------+---------+

In [5]:
df_staging_songs.createOrReplaceTempView("staging_songs")

songs_table = spark.sql("""select
    distinct song_id,
    title,
    artist_id,
    song_year,
    duration
from
staging_songs""")

songs_table.show()
songs_table.write.mode('overwrite').partitionBy("song_year","artist_id").parquet("/home/workspace/data/out/songs_table.parquet") 

print('Songs_table Count --> ', songs_table.count())


artist_table = spark.sql("""select
    distinct artist_id,
    artist_name,
    artist_location,
    artist_latitude,
    artist_longitude
from
staging_songs""")
      
artist_table.show()
artist_table.write.mode('overwrite').parquet("/home/workspace/data/out/artist_table.parquet") 

print('artist_table Count --> ', artist_table.count())

+------------------+------+------------------+---------+--------+
|           song_id| title|         artist_id|song_year|duration|
+------------------+------+------------------+---------+--------+
|SOBLFFE12AF72AA5BA|Scream|ARJNIUY12298900C91|     2009|213.9424|
+------------------+------+------------------+---------+--------+

Songs_table Count -->  1
+------------------+------------+---------------+---------------+----------------+
|         artist_id| artist_name|artist_location|artist_latitude|artist_longitude|
+------------------+------------+---------------+---------------+----------------+
|ARJNIUY12298900C91|Adelitas Way|               |           null|            null|
+------------------+------------+---------------+---------------+----------------+

artist_table Count -->  1

In [6]:
df_staging_events = spark.read.json("s3a://udacity-dend/log_data/2018/11/2018-11-19-events.json")
print('Before NextSong Filter --> ',df_staging_events.count())

df_staging_events = df_staging_events.filter("page == 'NextSong'")
print('After NextSong Filter --> ',df_staging_events.count())

df_staging_events.printSchema()
df_staging_events.show(5)

Before NextSong Filter -->  327
After NextSong Filter -->  276
root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: double (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

+--------------------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+-------------+--------------------+------+
|              artist|     auth|firstName|gender|itemInSession|lastName|   length|level|            location|method|    page|     registration|sessionId|                song|status|           ts|           userAgent|userId|
+--------------------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+-------------+--------------------+------+
|Explosions In The...|Logged In|   Adelyn|     F|            0|  Jordan|497.47546| free|Chicago-Napervill...|   PUT|NextSong|1.540130971796E12|      458|   Your Hand In Mine|   200|1542592496796|"Mozilla/5.0 (Mac...|     7|
|Paul Van Dyk Feat...|Logged In|    Layla|     F|            0| Griffin|425.66485| paid|Lake Havasu City-...|   PUT|NextSong|1.541057188796E12|      672|White Lies (Dave ...|   200|1542592893796|"Mozilla/5.0 (Win...|    24|
|          Tim Hughes|Logged In|    Layla|     F|            1| Griffin|323.47383| paid|Lake Havasu City-...|   PUT|NextSong|1.541057188796E12|      672|      God of Justice|   200|1542593318796|"Mozilla/5.0 (Win...|    24|
|David Cassidy & T...|Logged In|    Layla|     F|            2| Griffin|227.73506| paid|Lake Havasu City-...|   PUT|NextSong|1.541057188796E12|      672|I'll Meet You Hal...|   200|1542593641796|"Mozilla/5.0 (Win...|    24|
|         Snow Patrol|Logged In|    Layla|     F|            3| Griffin|200.93342| paid|Lake Havasu City-...|   PUT|NextSong|1.541057188796E12|      672|  Crack The Shutters|   200|1542593868796|"Mozilla/5.0 (Win...|    24|
+--------------------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+-------------+--------------------+------+
only showing top 5 rows

In [7]:
from pyspark.sql import types as t

@udf(t.TimestampType())
def get_timestamp (ts):
    return datetime.fromtimestamp(ts/1000)
    
df_staging_events = df_staging_events.withColumn("timestamp",get_timestamp(df_staging_events.ts))
df_staging_events.printSchema()
df_staging_events.show(5)

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: double (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)
 |-- timestamp: timestamp (nullable = true)

+--------------------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+-------------+--------------------+------+--------------------+
|              artist|     auth|firstName|gender|itemInSession|lastName|   length|level|            location|method|    page|     registration|sessionId|                song|status|           ts|           userAgent|userId|           timestamp|
+--------------------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+-------------+--------------------+------+--------------------+
|Explosions In The...|Logged In|   Adelyn|     F|            0|  Jordan|497.47546| free|Chicago-Napervill...|   PUT|NextSong|1.540130971796E12|      458|   Your Hand In Mine|   200|1542592496796|"Mozilla/5.0 (Mac...|     7|2018-11-19 01:54:...|
|Paul Van Dyk Feat...|Logged In|    Layla|     F|            0| Griffin|425.66485| paid|Lake Havasu City-...|   PUT|NextSong|1.541057188796E12|      672|White Lies (Dave ...|   200|1542592893796|"Mozilla/5.0 (Win...|    24|2018-11-19 02:01:...|
|          Tim Hughes|Logged In|    Layla|     F|            1| Griffin|323.47383| paid|Lake Havasu City-...|   PUT|NextSong|1.541057188796E12|      672|      God of Justice|   200|1542593318796|"Mozilla/5.0 (Win...|    24|2018-11-19 02:08:...|
|David Cassidy & T...|Logged In|    Layla|     F|            2| Griffin|227.73506| paid|Lake Havasu City-...|   PUT|NextSong|1.541057188796E12|      672|I'll Meet You Hal...|   200|1542593641796|"Mozilla/5.0 (Win...|    24|2018-11-19 02:14:...|
|         Snow Patrol|Logged In|    Layla|     F|            3| Griffin|200.93342| paid|Lake Havasu City-...|   PUT|NextSong|1.541057188796E12|      672|  Crack The Shutters|   200|1542593868796|"Mozilla/5.0 (Win...|    24|2018-11-19 02:17:...|
+--------------------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+-------------+--------------------+------+--------------------+
only showing top 5 rows

In [8]:
@udf(t.StringType())
def get_timestamp (ts):
    return datetime.fromtimestamp(ts/1000).strftime('%Y-%m-%d %H:%M:%S')

df_staging_events = df_staging_events.withColumn("datetime",get_timestamp(df_staging_events.ts))
df_staging_events = df_staging_events.withColumn("year",year(df_staging_events.datetime)).withColumn("month",month(df_staging_events.datetime))
df_staging_events.printSchema()
df_staging_events.show(5)

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: double (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)
 |-- timestamp: timestamp (nullable = true)
 |-- datetime: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)

+--------------------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+-------------+--------------------+------+--------------------+-------------------+----+-----+
|              artist|     auth|firstName|gender|itemInSession|lastName|   length|level|            location|method|    page|     registration|sessionId|                song|status|           ts|           userAgent|userId|           timestamp|           datetime|year|month|
+--------------------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+-------------+--------------------+------+--------------------+-------------------+----+-----+
|Explosions In The...|Logged In|   Adelyn|     F|            0|  Jordan|497.47546| free|Chicago-Napervill...|   PUT|NextSong|1.540130971796E12|      458|   Your Hand In Mine|   200|1542592496796|"Mozilla/5.0 (Mac...|     7|2018-11-19 01:54:...|2018-11-19 01:54:56|2018|   11|
|Paul Van Dyk Feat...|Logged In|    Layla|     F|            0| Griffin|425.66485| paid|Lake Havasu City-...|   PUT|NextSong|1.541057188796E12|      672|White Lies (Dave ...|   200|1542592893796|"Mozilla/5.0 (Win...|    24|2018-11-19 02:01:...|2018-11-19 02:01:33|2018|   11|
|          Tim Hughes|Logged In|    Layla|     F|            1| Griffin|323.47383| paid|Lake Havasu City-...|   PUT|NextSong|1.541057188796E12|      672|      God of Justice|   200|1542593318796|"Mozilla/5.0 (Win...|    24|2018-11-19 02:08:...|2018-11-19 02:08:38|2018|   11|
|David Cassidy & T...|Logged In|    Layla|     F|            2| Griffin|227.73506| paid|Lake Havasu City-...|   PUT|NextSong|1.541057188796E12|      672|I'll Meet You Hal...|   200|1542593641796|"Mozilla/5.0 (Win...|    24|2018-11-19 02:14:...|2018-11-19 02:14:01|2018|   11|
|         Snow Patrol|Logged In|    Layla|     F|            3| Griffin|200.93342| paid|Lake Havasu City-...|   PUT|NextSong|1.541057188796E12|      672|  Crack The Shutters|   200|1542593868796|"Mozilla/5.0 (Win...|    24|2018-11-19 02:17:...|2018-11-19 02:17:48|2018|   11|
+--------------------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+-------------+--------------------+------+--------------------+-------------------+----+-----+
only showing top 5 rows

In [9]:
df_staging_events.createOrReplaceTempView("staging_events")
#staging_events = spark.sql("Select * from staging_events where page='NextSong'").toPandas()

users_table = spark.sql("""select 
    distinct userid,
    firstname,
    lastname,
    gender,
    level
from
staging_events
""")
users_table.show()

users_table.write.mode('overwrite').parquet("/home/workspace/data/out/users_table.parquet") 
print('users_table Count --> ', users_table.count())

+------+---------+---------+------+-----+
|userid|firstname| lastname|gender|level|
+------+---------+---------+------+-----+
|    37|   Jordan|    Hicks|     F| free|
|    63|     Ayla|  Johnson|     F| free|
|    15|     Lily|     Koch|     F| paid|
|    74|   Braden|   Parker|     M| free|
|    75|   Joseph|Gutierrez|     M| free|
|    61|   Samuel| Gonzalez|     M| free|
|    88| Mohammad|Rodriguez|     M| free|
|    69| Anabelle|  Simpson|     F| free|
|    52| Theodore|    Smith|     M| free|
|    49|    Chloe|   Cuevas|     F| paid|
|    41|  Brayden|    Clark|     M| free|
|    67|     Colm|  Santana|     M| free|
|     7|   Adelyn|   Jordan|     F| free|
|    24|    Layla|  Griffin|     F| paid|
|    35|    Molly|   Taylor|     F| free|
|    54|    Kaleb|     Cook|     M| free|
|    17| Makinley|    Jones|     F| free|
|    45| Dominick|   Norris|     M| free|
|    58|    Emily|   Benson|     F| paid|
|    71|   Ayleen|     Wise|     F| free|
+------+---------+---------+------+-----+
only showing top 20 rows

users_table Count -->  32

In [24]:
df_songplay = df_staging_events.join(df_staging_songs, df_staging_events.song == df_staging_songs.title, "left")
df_songplay.printSchema()
df_songplay = df_songplay.select("datetime","year","month", "userId", "level","song_id","artist_id","sessionId","location","useragent")
df_songplay = df_songplay.withColumn("songplay_id", F.monotonically_increasing_id())
df_songplay.show()

df_songplay.write.mode('overwrite').partitionBy("year","month").parquet("/home/workspace/data/out/songplay_table.parquet") 

print('df_songplay Count --> ', df_songplay.count())

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: double (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)
 |-- timestamp: timestamp (nullable = true)
 |-- datetime: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- artist_id: string (nullable = true)
 |-- artist_latitude: string (nullable = true)
 |-- artist_location: string (nullable = true)
 |-- artist_longitude: string (nullable = true)
 |-- artist_name: string (nullable = true)
 |-- duration: double (nullable = true)
 |-- num_songs: long (nullable = true)
 |-- song_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- song_year: long (nullable = true)

+-------------------+----+-----+------+-----+-------+---------+---------+--------------------+--------------------+-----------+
|           datetime|year|month|userId|level|song_id|artist_id|sessionId|            location|           useragent|songplay_id|
+-------------------+----+-----+------+-----+-------+---------+---------+--------------------+--------------------+-----------+
|2018-11-19 01:54:56|2018|   11|     7| free|   null|     null|      458|Chicago-Napervill...|"Mozilla/5.0 (Mac...|          0|
|2018-11-19 02:01:33|2018|   11|    24| paid|   null|     null|      672|Lake Havasu City-...|"Mozilla/5.0 (Win...|          1|
|2018-11-19 02:08:38|2018|   11|    24| paid|   null|     null|      672|Lake Havasu City-...|"Mozilla/5.0 (Win...|          2|
|2018-11-19 02:14:01|2018|   11|    24| paid|   null|     null|      672|Lake Havasu City-...|"Mozilla/5.0 (Win...|          3|
|2018-11-19 02:17:48|2018|   11|    24| paid|   null|     null|      672|Lake Havasu City-...|"Mozilla/5.0 (Win...|          4|
|2018-11-19 02:21:08|2018|   11|    24| paid|   null|     null|      672|Lake Havasu City-...|"Mozilla/5.0 (Win...|          5|
|2018-11-19 02:26:55|2018|   11|    24| paid|   null|     null|      672|Lake Havasu City-...|"Mozilla/5.0 (Win...|          6|
|2018-11-19 02:32:26|2018|   11|    24| paid|   null|     null|      672|Lake Havasu City-...|"Mozilla/5.0 (Win...|          7|
|2018-11-19 02:37:09|2018|   11|    24| paid|   null|     null|      672|Lake Havasu City-...|"Mozilla/5.0 (Win...|          8|
|2018-11-19 02:42:42|2018|   11|    24| paid|   null|     null|      672|Lake Havasu City-...|"Mozilla/5.0 (Win...|          9|
|2018-11-19 02:47:01|2018|   11|    24| paid|   null|     null|      672|Lake Havasu City-...|"Mozilla/5.0 (Win...|         10|
|2018-11-19 02:49:58|2018|   11|    24| paid|   null|     null|      672|Lake Havasu City-...|"Mozilla/5.0 (Win...|         11|
|2018-11-19 02:53:22|2018|   11|    24| paid|   null|     null|      672|Lake Havasu City-...|"Mozilla/5.0 (Win...|         12|
|2018-11-19 02:57:48|2018|   11|    24| paid|   null|     null|      672|Lake Havasu City-...|"Mozilla/5.0 (Win...|         13|
|2018-11-19 03:02:37|2018|   11|    24| paid|   null|     null|      672|Lake Havasu City-...|"Mozilla/5.0 (Win...|         14|
|2018-11-19 03:06:59|2018|   11|    24| paid|   null|     null|      672|Lake Havasu City-...|"Mozilla/5.0 (Win...|         15|
|2018-11-19 03:10:09|2018|   11|    24| paid|   null|     null|      672|Lake Havasu City-...|"Mozilla/5.0 (Win...|         16|
|2018-11-19 03:14:29|2018|   11|    24| paid|   null|     null|      672|Lake Havasu City-...|"Mozilla/5.0 (Win...|         17|
|2018-11-19 03:16:41|2018|   11|    24| paid|   null|     null|      672|Lake Havasu City-...|"Mozilla/5.0 (Win...|         18|
|2018-11-19 03:20:39|2018|   11|    24| paid|   null|     null|      672|Lake Havasu City-...|"Mozilla/5.0 (Win...|         19|
+-------------------+----+-----+------+-----+-------+---------+---------+--------------------+--------------------+-----------+
only showing top 20 rows

df_songplay Count -->  276

In [25]:
time_table = spark.sql("""SELECT 
    distinct datetime as start_time,
    hour(datetime) as hour,
    dayofyear(datetime) as day,
    weekofyear(datetime) as week,
    month(datetime) as month,
    year(datetime) as year,
    dayofweek(datetime) as weekday
from
staging_events
where page='NextSong'
""")

time_table.show()
time_table.write.mode('overwrite').partitionBy("year","month").parquet("/home/workspace/data/out/time_table.parquet") 
print('time_table Count --> ', time_table.count())

+-------------------+----+---+----+-----+----+-------+
|         start_time|hour|day|week|month|year|weekday|
+-------------------+----+---+----+-----+----+-------+
|2018-11-19 21:48:53|  21|323|  47|   11|2018|      2|
|2018-11-19 03:16:41|   3|323|  47|   11|2018|      2|
|2018-11-19 10:53:17|  10|323|  47|   11|2018|      2|
|2018-11-19 04:39:59|   4|323|  47|   11|2018|      2|
|2018-11-19 10:46:18|  10|323|  47|   11|2018|      2|
|2018-11-19 04:56:47|   4|323|  47|   11|2018|      2|
|2018-11-19 04:32:05|   4|323|  47|   11|2018|      2|
|2018-11-19 06:21:04|   6|323|  47|   11|2018|      2|
|2018-11-19 16:29:46|  16|323|  47|   11|2018|      2|
|2018-11-19 21:17:39|  21|323|  47|   11|2018|      2|
|2018-11-19 23:47:16|  23|323|  47|   11|2018|      2|
|2018-11-19 03:14:29|   3|323|  47|   11|2018|      2|
|2018-11-19 05:47:22|   5|323|  47|   11|2018|      2|
|2018-11-19 08:35:58|   8|323|  47|   11|2018|      2|
|2018-11-19 21:44:59|  21|323|  47|   11|2018|      2|
|2018-11-19 20:52:46|  20|323|  47|   11|2018|      2|
|2018-11-19 09:00:59|   9|323|  47|   11|2018|      2|
|2018-11-19 13:49:35|  13|323|  47|   11|2018|      2|
|2018-11-19 09:56:22|   9|323|  47|   11|2018|      2|
|2018-11-19 23:16:44|  23|323|  47|   11|2018|      2|
+-------------------+----+---+----+-----+----+-------+
only showing top 20 rows

time_table Count -->  276